<link rel="stylesheet" href="/static/styles/create_product.css" type="text/css">
<script src="/static/styles/create_product.js"></script>
<script src="../static/styles/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="../static/styles/menu.css" type="text/css">
<script>
    $(function () {
        $("#menu").load("../static/menu/menu.html");
    });
</script>
<div id="menu" autofocus style="margin-bottom: 2%"></div>
<form action="/register_product" method="post">
    <h1 content=”text/html;>Ingresar la informaci&oacute;n del Producto</h1>
    <fieldset>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="product_name">
        <label for="description">Description:</label>
        <textarea id="description" name="product_description"></textarea>
        <label for="available">Unidades Disponibles:</label>
        <input type="number" step="1" pattern="\d+" min="0" max="60000" value="0" id="available"
               name="product_available">
        <label for="unit_price">Precio Unitario:</label>
        <input type="number" min="0.00" max="10000.00" step="0.01" id="unit_price" value="0.00"
               name="product_unit_price"/>
        <label for="sale_price">Precio al por mayor:</label>
        <input type="number" min="0.00" max="10000.00" step="0.01" id="sale_price" value="0.00"
               name="product_sale_price"/>
        <label for="code">Código:</label>
        <input type="text" id="code" name="product_code"/>
        <label for="colors">Colores:</label>
        <input type="text" id="colors" name="product_colors"/>
        <label for="sizes">Tallas:</label>
        <input type="text" id="sizes" name="product_sizes"/>
        <label for='product_picture'>Subir imagen:</label>
        <input type="file" id="file_input" onchange=selectFile(0)>
        <p id="status">Por favor seleccione una imagen (png, jpg)</p>
        <img class="centered-and-cropped" alt="Imagen del Producto"
             src='https://s3-img.pixpa.com/local/800/dummy-image.jpg'
             height='500' width="100%" id='product_picture'/>
        <input type="hidden" id="avatar-url" name="avatar-url"
               value="https://s3-img.pixpa.com/local/800/dummy-image.jpg">
    </fieldset>
    <button type="submit">Guardar Producto</button>
</form>