<link rel="stylesheet" href="../static/styles/create_user.css" type="text/css">
<link rel="stylesheet" href="../static/styles/menu.css" type="text/css">
<script src="../static/styles/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $("#menu").load("../static/menu/menu.html");
    });
</script>
<div id="menu" class="menu" autofocus></div>

<form action="/recover" method="POST">
    <h1>
        Recuperar cuenta de usuario/a
        <br>
    </h1>

    <div class="float-label">
        <input placeholder="Email" type="email" name="email" id="email"/>
    </div>

    <button class="btn" type="submit">Recuperar Contraseña</button>

</form>