<link rel="stylesheet" href="../static/styles/create_user.css" type="text/css">
<link rel="stylesheet" href="../static/styles/menu.css" type="text/css">
<script src="../static/styles/jquery-3.4.1.min.js"></script>

{% include 'menu.html' %}

<form action="/recover" method="POST">
    <h1>
        Recuperar cuenta de usuario/a
        <br>
    </h1>

    <div class="float-label">
        <input placeholder="Email" type="email" name="email" id="email"/>
    </div>

    <button class="btn" type="submit">Recuperar Contraseña</button>

</form>