<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../static/styles/client_product_list.css" type="text/css">
<link rel="stylesheet" href="../static/styles/selector.css" type="text/css">
<script src="../static/styles/jquery-3.4.1.min.js"></script>
<script src="../static/styles/client_product_list.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script type="application/javascript">
    let maxValue = undefined;
    let idValue = undefined;
    let totalPrice = undefined;
    let title = undefined;

    function OpenProduct(id, colors, sizes) {
        idValue = id;
        //Load image
        let image = $('.product_image[item-data="' + id + '"] img');
        let lbi = $('.lightbox-blanket .product-image img');
        $(lbi).attr("src", $(image).attr("src"));
        //Load unit price
        let unit_price = $('.product_unit_price[item-data="' + id + '"] span').text().substring(1).split('.');
        let dollars = unit_price[0].match(/\d+/)[0];
        let cents = unit_price[1] ? unit_price[1].match(/\d+/)[0] : undefined;
        if (cents === undefined) {
            cents = '00'
        } else if (cents.length === 0) {
            cents = '00'
        } else if (cents.length === 1) {
            cents = cents + '0'
        }
        let dialogPrice = $('.lightbox-blanket .product-info .product-price');
        $(dialogPrice).html("$" + dollars + "<span class='product-price-cents'>" + cents + "</span>");
        //Load sale price
        let sale_price = $('.product_sale_price[item-data="' + id + '"] span').text().substring(1).split('.');
        let sale_dollars = sale_price[0].match(/\d+/)[0];
        let sale_cents = sale_price[1] ? sale_price[1].match(/\d+/)[0] : undefined;
        if (sale_cents === undefined) {
            sale_cents = '00'
        } else if (sale_cents.length === 0) {
            sale_cents = '00'
        } else if (sale_cents.length === 1) {
            sale_cents = sale_cents + '0'
        }
        let dialogSalePrice = $('.lightbox-blanket .product-info .product-price-sale');
        $(dialogSalePrice).html("$" + sale_dollars + "<span class='product-price-cents'>" + sale_cents + "</span>"
            + "<span class='product-price' style='font-size:0.7em'>&nbsp; por docena</span>");
        //Load title
        title = $('.product_title[item-data="' + id + '"] h5').text();
        let dialogTitle = $('.lightbox-blanket .product-title');
        $(dialogTitle).html(title);
        //Load description
        let description = $('.product_desc[item-data="' + id + '"]').text();
        let dialogDescription = $('.lightbox-blanket .product-description');
        $(dialogDescription).html(description);
        //Load available units
        let available_units = $('.product_available_price[item-data="' + id + '"] span[item-data="' + id + '"]').text();
        maxValue = parseInt(available_units);
        let dialogAvailableUnits = $('.lightbox-blanket .product-available');
        $(dialogAvailableUnits).html(available_units + ' Unidades disponibles');

        $(".lightbox-blanket").toggle();

        createSizesSelector(sizes);
        createColorSelector(colors);

        $("#product-quantity-input").val("0");
        CalcPrice(0);
    }

    function GoBack() {
        $(".lightbox-blanket").toggle();
    }

    function GetMax() {
        return maxValue;
    }

    //Calculate new total when the quantity changes.
    function CalcPrice(units) {
        let unit_price = $('.product_unit_price[item-data="' + idValue + '"] span').attr('price-data');
        let sale_price = $('.product_sale_price[item-data="' + idValue + '"] span').attr('price-data');
        totalPrice = units >= 12 ? parseFloat((sale_price * units)).toFixed(2) : parseFloat((unit_price * units)).toFixed(2);
        $(".product-checkout-total-amount").text(totalPrice);
    }

    //Reduce quantity by 1 if clicked
    $(document).on("click", ".product-quantity-subtract", function (e) {
        let value = $("#product-quantity-input").val();
        let newValue = parseInt(value) - 1;
        if (newValue < 0) newValue = 0;
        if (newValue > GetMax()) newValue = GetMax();
        $("#product-quantity-input").val(newValue);
        CalcPrice(newValue);
    });

    //Increase quantity by 1 if clicked
    $(document).on("click", ".product-quantity-add", function (e) {
        let value = $("#product-quantity-input").val();
        let newValue = parseInt(value) + 1;
        if (newValue > GetMax()) newValue = GetMax();
        $("#product-quantity-input").val(newValue);
        CalcPrice(newValue);
    });

    $(document).on("blur", "#product-quantity-input", function (e) {
        var value = $("#product-quantity-input").val();
        CalcPrice(value);
    });

    function createColorSelector(values) {
        let valueArray = values.split(",");
        let colorSelector = $("#colorSelector");
        colorSelector.html("");
        if (valueArray.length > 0) {
            colorSelector.append("<option selected disabled hidden>Seleccione un color ...</option>");
        }

        valueArray.forEach(value =>
            colorSelector.append("<option value=\"" + value + "\">" + value + "</option>")
        )
    }

    function createSizesSelector(values) {
        let valueArray = values.split(",");
        let sizeSelector = $("#sizeSelector");
        sizeSelector.html("");
        if (valueArray.length > 0) {
            sizeSelector.append("<option selected disabled hidden>Seleccione la talla ...</option>");
        }
        valueArray.forEach(value =>
            sizeSelector.append("<option value=\"" + value + "\">" + value + "</option>")
        )
    }

    function getSelectedColor() {
        let colorSelector = $("#colorSelector");
        return colorSelector.val();
    }

    function getSelectedSize() {
        let sizeSelector = $("#sizeSelector");
        return sizeSelector.val();
    }

    function AddToCart() {
        let units = $("#product-quantity-input").val();
        if (units === '0') {
            return;
        }

        function showSuccessMessage() {
            let toast = '<div class="toast toast-success">Se agregaron ' + units + ' al carrito de compras</div>';
            $("body").append(toast);
            setTimeout(function () {
                $(".toast").addClass("toast-transition");
            }, 100);
            setTimeout(function () {
                $(".toast").remove();
            }, 3500);
            $(".lightbox-blanket").toggle();
        }

        function showErrorMessage(message) {
            let toast;
            if (message) {
                toast = "<div class=\"toast toast-error\">" + message + "</div>";
            } else {
                toast = '<div class="toast toast-error">Hubo un error al almacenar los productos</div>';
            }
            $("body").append(toast);
            setTimeout(function () {
                $(".toast").addClass("toast-transition");
            }, 100);
            setTimeout(function () {
                $(".toast").remove();
            }, 3500);
            console.log(message);
        }

        if (getSelectedColor() == null || getSelectedSize() == null) {
            showErrorMessage("Debe seleccionar una talla y un color para el producto");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/add_to_cart",
            // set content type header to use Flask response.get_json()
            contentType: "application/json",
            // convert data/object to JSON to send
            data: JSON.stringify({
                id: idValue,
                color: getSelectedColor(),
                size: getSelectedSize(),
                units: units,
                totalPrice,
                title
            }),
            // expect JSON data in return (e.g. Flask jsonify)
            dataType: "json",
            // handle response
            success: function (response) {
                showSuccessMessage();
            },
            error: function (err) {
                showErrorMessage();
                console.log(err);
            }
        });
    }
</script>
<body>
<div class="product_grid">
    <ul class="product_list list">
        {% for product in products %}
            <li class="product_item">
                <div class="product_image" item-data={{ product.id }}>
                    <a href="#"><img src="https://bit.ly/1myplK1" alt=""></a>
                    <div class="product_buttons">
                        <button class="add_to_cart"
                                onclick="OpenProduct('{{ product.id }}','{{ product.colors }}', '{{ product.sizes }}');">
                            <i
                                    class="fa fa-shopping-cart"></i></button>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title" item-data={{ product.id }}>
                        <h5>{{ product.name }}</h5>
                    </div>
                    <br>
                    <div class="product_unit_price" item-data={{ product.id }}>
                        <a>
                            <span class="unit_price"
                                  price-data={{ product.unit_price }}>${{ product.unit_price }}</span>
                        </a>
                    </div>
                    <div class="product_sale_price" item-data={{ product.id }}>
                        <a>
                            <span class="sale_price"
                                  price-data={{ product.sale_price }}>${{ product.sale_price }}</span>
                            <span>por docena</span>
                        </a>
                    </div>
                    <div class="product_available_price" item-data={{ product.id }}>
                        <a>
                            <span class="available_units"
                                  item-data={{ product.id }}>{{ product.available_units }}</span>
                            <span class="available_units">Unidades disponibles</span>
                        </a>
                    </div>
                    <div class="product_desc" item-data={{ product.id }}>
                        <p class="text">{{ product.description }}</p>
                    </div>
                    <div class="product_buttons">
                        <button class="add_to_cart"><i class="fa fa-shopping-cart"></i></button>
                        <br>
                        <br>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="lightbox-blanket">
    <div class="pop-up-container">
        <div class="pop-up-container-vertical">
            <div class="pop-up-wrapper">
                <div class="go-back" onclick="GoBack();"><i class="fa fa-arrow-left"></i>
                </div>
                <div class="product-details">
                    <div class="product-left">
                        <div class="product-info">
                            <div class="product-manufacturer">EMPRENDE</div>
                            <div class="product-title">
                                LOUNGE CHAIR
                            </div>
                            <br>
                            <div class="product-price">
                                <span class="product-price-cents"></span>
                            </div>
                            <br>
                            <div class="product-price-sale">
                                <span class="product-price-cents"></span>
                            </div>
                        </div>
                        <div class="product-image">
                            <img src="http://3.design-milk.com/images/2013/07/Karim-Rashid-1-ChateauDAx_nook_chair.jpg"/>
                        </div>
                    </div>
                    <div class="product-right">
                        <div class="product-description">
                            Designer Karim Rashid continues to put his signature spin on all genres of design through
                            various collaborations with top-notch companies. Another one to add to the win column is his
                            work with Italian manufacturer Chateau d’Ax.
                        </div>
                        <div class="product-available">

                        </div>
                        <div class="product-quantity">
                            <label for="product-quantity-input" class="product-quantity-label">Cantidad</label>
                            <div class="product-quantity-subtract">
                                <i class="fa fa-chevron-left"></i>
                            </div>
                            <div>
                                <input style="text-align: center" type="number" id="product-quantity-input"
                                       placeholder="0" value="0" min="0"
                                       max="GetMax();"/>
                            </div>
                            <div class="product-quantity-add">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                            <br>
                            <div class="colors">
                                <select id="colorSelector" class="theme-green" style="width:230px;">
                                </select>
                            </div>
                            <div class="sizes">
                                <select id="sizeSelector" class="theme-green" style="width:230px;">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="product-bottom">
                        <div class="product-checkout">
                            Total Price
                            <div class="product-checkout-total">
                                <i class="fa fa-usd"></i>
                                <div class="product-checkout-total-amount">
                                    0.00
                                </div>
                            </div>
                        </div>
                        <div class="product-checkout-actions">
                            <a class="add-to-cart" href="#" onclick="AddToCart();">Add to Cart</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>