<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="../static/styles/test.css" type="text/css">
<script src="../static/styles/jquery-3.4.1.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script type="application/javascript">
    //Go Back
    function OpenProduct(i) {
        let image = $('.product-image[item-data="' + i + '"] img');
        let price = $('.product-price[item-data="' + i + '"]');
        let cents = $('.product-price[item-data="' + i + '"] span').text();
        let dollars = $('.product-price[item-data="' + i + '"]').text().replace(cents, '').substring(1);
        console.log(price);
        console.log(cents);
        console.log(dollars);

        $('.product-price[item-data="dl"]').innerText = dollars;
        $('.product-price[item-data="dl"] span').innerHTML = cents;
        let lbi = $('.lightbox-blanket .product-image img');
        console.log($(i).attr("src"));
        $(lbi).attr("src", $(image).attr("src"));
        let dialogPrice = $('.lightbox-blanket .product-info .product-price');
        $(dialogPrice).html("$" + dollars + "<span class='product-price-cents'>" + cents + "</span>");
        // if(lbprice){
        //   price = price.split["."];
        //   $(lbprice).html("$" + price[0] + "<span class='product-price-cents'>"+price[1] +"</span>");
        //}

        $(".lightbox-blanket").toggle();


        $("#product-quantity-input").val("0");
        CalcPrice(0);

    }

    function GoBack() {
        $(".lightbox-blanket").toggle();
    }

    //Calculate new total when the quantity changes.
    function CalcPrice(qty) {
        var price = $(".product-price").attr("price-data");
        var total = parseFloat((price * qty)).toFixed(2);
        $(".product-checkout-total-amount").text(total);
    }

    //Reduce quantity by 1 if clicked
    $(document).on("click", ".product-quantity-subtract", function (e) {
        var value = $("#product-quantity-input").val();
        //console.log(value);
        var newValue = parseInt(value) - 1;
        if (newValue < 0) newValue = 0;
        $("#product-quantity-input").val(newValue);
        CalcPrice(newValue);
    });

    //Increase quantity by 1 if clicked
    $(document).on("click", ".product-quantity-add", function (e) {
        var value = $("#product-quantity-input").val();
        //console.log(value);
        var newValue = parseInt(value) + 1;
        $("#product-quantity-input").val(newValue);
        CalcPrice(newValue);
    });

    $(document).on("blur", "#product-quantity-input", function (e) {
        var value = $("#product-quantity-input").val();
        //console.log(value);
        CalcPrice(value);
    });


    function AddToCart(e) {
        e.preventDefault();
        var qty = $("#product-quantity-input").val();
        if (qty === '0') {
            return;
        }
        var toast = '<div class="toast toast-success">Added ' + qty + ' to cart.</div>';
        $("body").append(toast);
        setTimeout(function () {
            $(".toast").addClass("toast-transition");
        }, 100);
        setTimeout(function () {
            $(".toast").remove();
        }, 3500);
    }
</script>
<div class="lightbox-blanket">
    <div class="pop-up-container">
        <div class="pop-up-container-vertical">
            <div class="pop-up-wrapper">
                <div class="go-back" onclick="GoBack();"><i class="fa fa-arrow-left"></i>
                </div>
                <div class="product-details">
                    <div class="product-left">
                        <div class="product-info">
                            <div class="product-manufacturer">NOOK
                            </div>
                            <div class="product-title">
                                LOUNGE CHAIR
                            </div>
                            <div class="product-price" price-data="120.12" item-data="dl"><span
                                    class="product-price-cents"></span>
                            </div>
                        </div>
                        <div class="product-image">
                            <img src="http://3.design-milk.com/images/2013/07/Karim-Rashid-1-ChateauDAx_nook_chair.jpg"/>
                        </div>
                    </div>
                    <div class="product-right">
                        <div class="product-description">
                            Designer Karim Rashid continues to put his signature spin on all genres of design through
                            various collaborations with top-notch companies. Another one to add to the win column is his
                            work with Italian manufacturer Chateau d’Ax.
                        </div>
                        <div class="product-available">
                            In stock. <span class="product-extended"><a href="#">Buy Extended Warranty</a></span>
                        </div>
                        <div class="product-rating">
                            <i class="fa fa-star rating" star-data="1"></i>
                            <i class="fa fa-star rating" star-data="2"></i>
                            <i class="fa fa-star rating" star-data="3"></i>
                            <i class="fa fa-star" star-data="4"></i>
                            <i class="fa fa-star" star-data="5"></i>
                            <div class="product-rating-details">(3.1 - <span class="rating-count">1203</span> reviews)
                            </div>

                        </div>
                        <div class="product-quantity">
                            <label for="product-quantity-input" class="product-quantity-label">Quantity</label>
                            <div class="product-quantity-subtract">
                                <i class="fa fa-chevron-left"></i>
                            </div>
                            <div>
                                <input type="text" id="product-quantity-input" placeholder="0" value="0"/>
                            </div>
                            <div class="product-quantity-add">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-bottom">
                        <div class="product-checkout">
                            Total Price
                            <div class="product-checkout-total">
                                <i class="fa fa-usd"></i>
                                <div class="product-checkout-total-amount">
                                    0.00
                                </div>
                            </div>
                        </div>
                        <div class="product-checkout-actions">
                            <a class="add-to-cart" href="#" onclick="AddToCart(event);">Add to Cart</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="random-background">
    <div class="itemlist">
        <div class="itemlist-item-wrapper" onclick="OpenProduct(1);">
            <div class="product-details">
                <div class="">
                    <div class="product-info">

                        <div class="product-title" item-data="1">
                            LOUNGE CHAIR
                        </div>
                        <div class="product-price" price-data="120.12" item-data="1">$120
                            <span
                                    class="product-price-cents">12
                            </span>
                        </div>
                    </div>
                    <div class="product-image" item-data="1">
                        <img src="http://3.design-milk.com/images/2013/07/Karim-Rashid-1-ChateauDAx_nook_chair.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>